{% extends 'base.html.twig' %}

{% block body %}

<h2>Voici la liste des utilisateurs</h2>
<hr />
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <th scope="row">{{ user.id }}</th>
      <td>{{ user.email }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}